<% action = (album.persisted? ? album_url(album) : albums_url) %>
<% method = (album.persisted? ? :patch : :post) %>
<% submit_text = (album.persisted? ? 'Update' : 'Create ') + ' album!' %>

<form action="<%= action %>" method="post">
  <input type="hidden" name="_method" value="<%= method %>">
  
  <%= render "shared/form_auth_token" %>

  <label for="album_name">Name:</label>
  <input
    type="text"
    name="album[album_name]"
    id="album_name"
    value="<%= album.album_name %>">

<br>
<label for="album_band">Band:</label>
  <select name="album[band_id]" id="album_band_id">
    <option></option>
  
    <% bands.each do |band| %>
      <option <%= album.band_id == band.id ? "selected" : "" %> 
        value="<%=band.id%>">
      <%= band.name %>
      </option>
    <% end %>
  </select>

<br>
<label for="album_status">Status:</label>
  <input type="radio"
    name="album[status]"
    value="LIVE"
    id="album_status_live"
    <%= album.status == "LIVE" ? "checked" : "" %>>
  <label>Live</label>
  <input type="radio"
    name="album[status]"
    value="STUDIO"
    id="album_status_live"
    <%= album.status == "STUDIO" ? "checked" : "" %>>
  <label>Studio</label>

  <br>
  <input type="submit" value="<%= submit_text %>">
</form>
